# Configuración de seguridad para NPM

# Bloquea la ejecución de scripts automáticos (vital contra malware en postinstall)
ignore-scripts=true

# Alerta solo de vulnerabilidades altas o críticas para no saturar el pipeline
audit-level=high

# Limpia la terminal en CI/CD (oculta peticiones de donaciones y logs menores)
fund=false
loglevel=warn